#world_clock {
  padding: 10px;
  text-align: center;
}

.worldClockHeader h1 {
  font-size: 60px;
  color: white;
}

.worldClockHeader {
  background-color: black;
}

.earth {
  color: skyblue;
}

#date_time {
  padding-bottom: 200px;
  background-color: #64706e;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.date_2 {
  text-align: center;
}

.time {
  text-align: center;
}

.time h1 {
  font-size: 200px;
  line-height: 150px;
}

.time span {
  font-size: 100px;
  color: white;
}

.button {
  margin-top: 10px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: black;
  color: white;
}
