
#home {
  text-align: center;
  background-color: #dbdbdb;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#home span {
  color: #fff24f;
  font-weight: 700;
}

#home h1 {
  font-size: 60px;
}
